//
//         FILE: main.swift
//  DESCRIPTION: {{package}} -
//        NOTES: ---
//       AUTHOR: Mark T. Johnson, markj@matzsoft.com
//    COPYRIGHT: © {{year}} MATZ Software & Consulting. All rights reserved.
//      VERSION: 1.0
//      CREATED: {{date}}
//

import Foundation


func parse( input: AOCinput ) -> Any? {
    return nil
}


func part1( input: AOCinput ) -> String {
    let something = parse( input: input )
    return ""
}


func part2( input: AOCinput ) -> String {
    let something = parse( input: input )
    return ""
}


try runTests( part1: part1, part2: part2 )
try runSolutions( part1: part1, part2: part2 )
