//
//  main.swift
//  {{package}}
//
//  Created by Mark Johnson on {{date}}.
//  Copyright © {{year}} matzsoft. All rights reserved.
//

import Foundation


func parse( input: AOCinput ) -> Any? {
    return nil
}


func part1( input: AOCinput ) -> String {
    let something = parse( input: input )
    return ""
}


func part2( input: AOCinput ) -> String {
    let something = parse( input: input )
    return ""
}


try runTests( part1: part1, part2: part2 )
try runSolutions( part1: part1, part2: part2 )
